@media (min-width: 0) and (max-width: 375px){
    .blogbox .grid-container-lg .featured-post-title{
        top: 32%;
    }
    .blogbox .grid-container-sm .featured-post-title{
        top: 0;
    }
}
@media screen and (max-width: 475px) {
    .grid-list.list-mode li, .grid-list.audio.list-mode li{
        width: 50%;
    }
    .tunebox-songs .grid-list.audio.list-mode li{
        width: 50%;
    }
    .blogbox .grid-container-lg .featured-post-title{
        top: 30%;
    }
    .blogbox .grid-container-sm .featured-post-title{
        top: -10px;
    }
	#page-header .jumbotron {
		background:
		linear-gradient(
				rgba(0, 0, 0, 0.75),
				rgba(0, 0, 0, 0.75)
		),url('//placehold.it/400x400');
	}
}
@media (min-width: 476px) and (max-width: 620px){
    .grid-list.list-mode li, .grid-list.audio.list-mode li{
        width: 33%;
    }
    .tunebox-songs .grid-list.audio.list-mode li{
        width: 33%;
    }
    .blogbox .grid-container-lg .featured-post-title{
        top: 48%;
    }
}
@media (min-width: 621px) and (max-width: 675px){
    .grid-list.list-mode li, .grid-list.audio.list-mode li{
        width: 30%;
    }
    .tunebox-songs .grid-list.audio.list-mode li{
        width: 30%;
    }
    .blogbox .grid-container-sm .featured-post-title{
        top: 48%;
    }
}
@media (min-width: 676px) and (max-width: 991px){
    .grid-list.list-mode li, .grid-list.audio.list-mode li{
        width: 25%;
    }
    .tunebox-songs .grid-list.audio.list-mode li{
        width: 25%;
    }
}
@media (min-width: 0) and (max-width: 991px){
    .grid-list.list-mode li, .grid-list.audio.list-mode li{
        float: none;
    }
    .tunebox-songs .grid-list.audio.list-mode li{
        float: none;
    }
}
@media (min-width: 768px) {
    .modal-sm {
        width: 350px;
    }
}
@media (min-width: 768px) and (max-width: 1200px){

}
@media (max-width: 768px) {
    .logo img {
        width: 150px;
        padding: 10px
    }
    #page-header .jumbotron{
        height: 400px;
    }
    #search_container .inner{
        transform: translateY(50%);
    }
    .tracks-container .scroll-info{
        display: none;
    }
    .grid-list .overlay a[data-toggle="class toogle"]{
        margin: 1.8em auto;
    }
    #dobox-navbar .navbar-left {
        margin-left: 0;
    }
    .searchbardiv{
        top: inherit;
        bottom: -20px;
    }
    .navbar .navbar-nav > li:first-of-type a:after {
        display: none;
    }
    .tabs-left > .nav-tabs{
        width: 100%;
    }
    .tabs-left .tab-content{
        width: 100%;
    }
}
@media (max-width: 1199px){
    .navbar-toggle {
        display: block;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        z-index: 9;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media only screen and (min-width: 992px) {
   .dropdown:hover .dropdown-menu {
       display: block;
   }
}