body{
    background: #212121;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}
a, a:focus, a:hover {
    color: #F9A825;
    outline: none!important;
}
a:hover,a:focus{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Proxima Nova', Georgia, sans-serif;
}
.logo{
    display: block;
    padding: 10px 0;
}
.navbar-default.transparent {
    background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: #ffffff;
    position: absolute;
    width: 100%;
}
.navbar-default.solid{
    background: #1c1c1c;
}
.navbar-default.solid .logo img{
    width: 125px;
}
.navbar.navbar-default.solid .dropdown-menu li>a {
    font-size: 14px;
    color: #ffffff;
    padding: 8px 16px;
}
.navbar.navbar-default.solid .dropdown-menu .active>a {
    background-color: transparent;
    color: #FFCC80;
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
    color: #FFCC80;
    background-color: transparent;
}
.navbar.navbar-default.solid .dropdown-menu{
    background: #212121;
}
.navbar .dropdown-menu li>a:focus,.input-nav .navbar .dropdown-menu li>a:hover,.navbar.navbar-default .dropdown-menu li>a:focus,.navbar.navbar-default .dropdown-menu li>a:hover{
    color: #FFCC80;
    background: #333333;
}
.btn-group .dropdown-menu{
    background: #212121;
}
.btn-group .dropdown-menu li > a{
    font-size: 14px;
    color: #ffffff!important;
    padding: 8px 16px;
}
.btn-group .dropdown-menu li>a:focus, .btn-group .dropdown-menu li>a:hover{
    color: #FFCC80!important;
    background: #333333;
}
#dobox-navbar .navbar-left{
    margin-left: 10%;
}
li.dropdown a > img, li.dropdown a > .caret {
    display: inline-block;
}
.profile-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.profile-dropdown{
    padding-top: 10px!important;
    padding-bottom: 0!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.navbar .navbar-nav > li > a{
    font-family: 'Montserrat', sans-serif;
}
.searchbardiv{
    display: block;
    position: absolute;
    background: #F9A825 ;
    top: 60px;
    right: 0;
    z-index: 1001;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0;
}
#formsearch {
    display: none;
}
#searchform input {
    color: #fff;
    font-size: 22px;
}
#searchform .form-group {
    margin: 10px 0 0;
}
.page-title{
    margin: 2% 0;
    display: inline-block;
}
.musicbox-switch {
    display: inline-block;
    float: right;
    margin: 5% 0;
    font-size: 20px;
}
.musicbox-switch a {
    padding: 0 10px;
}
.musicbox-switch a.active,
.musicbox-switch a:focus,
.musicbox-switch a:hover{
    color: #FFCC80;
}
.page-title img{
    max-width: 200px;
}
#page-header {
    height: 70%;
    min-height: 400px;
    border: medium none;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
#page-header .jumbotron {
    background:
    linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
    ),url('//placehold.it/1280x500');
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    height: 500px;
	background-size:cover;
	background-repeat: no-repeat;
}
#search_container .inner{
    margin: 18% auto 0;
    text-align: center;
    max-width: 600px;
    color: #D2D2D2;
    font-family: 'Proxima Nova', Georgia, sans-serif;
}
#search_container h2{
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
}
#search_container h4{
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    text-transform: capitalize;
}
#search_container .text-typed{
    color: #F9A825;
}
#search_container input[type="text"]{
    color: #D2D2D2;
    font-weight: 300;
}
#search_container .btn-search{
    color: #D2D2D2;
    font-size: 16px;
}
#search_container .btn-search:hover,#search_container .btn-search:focus{
    color: #F9A825;
}
input.form-control, input.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCC80),to(#FFCC80)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2))!important;
    background-image: -webkit-linear-gradient(#FFCC80, #FFCC80),-webkit-linear-gradient(#D2D2D2,#D2D2D2)!important;
    background-image: -o-linear-gradient(#FFCC80,#FFCC80),-o-linear-gradient(#D2D2D2,#D2D2D2)!important;
    background-image: linear-gradient(#FFCC80,#FFCC80),linear-gradient(#D2D2D2,#D2D2D2)!important;
}

body .container .jumbotron, body .container .jumbotron-default, body .container .well, body .container .well-default, body .container-fluid .jumbotron, body .container-fluid .jumbotron-default, body .container-fluid .well, body .container-fluid .well-default{
    background-color: #333333;
}
.home .owl-carousel .owl-item{
    padding: 5px;
    overflow: hidden;
}
.view-mode h4, .view-mode .btn-group{
    display: inline-block;
    margin: 0;
}
.view-mode.full-width h4{
    display: block;
}
.view-mode h4{
    font-family: 'Proxima Nova', Georgia, sans-serif;
}
.view-mode .btn-group {
    float: right;
    position: relative;
    top: -6px;
}
.view-mode .btn-group .form-group {
    margin-top: 0;
    padding: 0;
    max-width: 80px;
}
.view-mode .btn-group select {
    margin: 0;
    padding: 0;
    background-image: none!important;
    color: #F9A825;
    font-size: 18px;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}
.view-mode .btn-group.bootstrap-select.form-control {
    border: 0;
    background: none;
}
.view-mode .dropdown-toggle {
    background: none!important;
    top: 6px;
    padding-left: 0;
    color: #F9A825!important;
    text-transform: capitalize;
    font-size: 18px;
}
.view-mode .dropdown-toggle:focus{
    outline: none!important;
    box-shadow: none!important;
}
.view-mode .btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.view-mode .btn-group a{
    color: #F9A825!important;
    padding: 4px 10px;
    font-size: 16px;
    outline: none!important;
}
.view-mode .btn-group a.dropdown-toggle{
    font-size: 18px;
    text-transform: capitalize;
}
.view-mode .btn-group a span {
    vertical-align: middle;
}
.grid-list{
    list-style: none;
    text-align: center;
    padding: 0 1px;
    margin-bottom: 30px;
}
.grid-list.list-mode{
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto 8% auto;
}
.grid-list.list-mode li{
    display: inline-block;
    padding: 5px;
    float: left;
    width: 16.6671%;
}
.grid-list li .card{
    position: relative;
    background: transparent!important;
    overflow: hidden;
}
.grid-list li .poster{
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1!important;
}
.grid-list li:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.grid-list li .poster img{
    /*max-width: 183px;*/
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*.grid-list li:nth-child(1){*/
    /*margin-left: 0;*/
/*}*/
/*.grid-list li:nth-child(6){*/
    /*margin-right: 0;*/
/*}*/
.grid-list .overlay{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.grid-list .overlay a[data-toggle="class toogle"]{
    font-size: 3em;
    vertical-align: middle;
    padding: 14px 18px;
    display: block;
    background: rgba(0, 0, 0, 0.65);
    width: 80px;
    height: 80px;
    margin: 2.2em auto;
    border-radius: 50%;
    color: #d5d5d5;
    border: 2px solid #d5d5d5;
}
.grid-list.audio .overlay a[data-toggle="class toogle"]{
    margin: 1.25em auto;
}
#songs-trending.grid-list.audio .overlay a[data-toggle="class toogle"] {
    margin: 2.25em auto;
}
#songs-trending.grid-list .poster-info h5{
    font-size: 18px;
}
#songs-trending.grid-list .poster-info h6{
    font-size: 15px;
}
.tunebox-songs .grid-list.audio.list-mode li{
    width: 20%;
}
.tunebox-albums .grid-list.audio.list-mode li h5{
    font-size: 18px;
}
.tunebox-albums .grid-list.audio.list-mode li h6{
    font-size: 15px;
}
.tunebox-albums .grid-list.audio .overlay a[data-toggle="class toogle"] {
    margin: 2.25em auto;
}
.grid-list.audio.list-mode li{
    display: inline-block;
    padding: 5px;
    float: left;
    width: 25%;
}
.grid-list.audio li {
    padding: 5px;
}
.grid-list .overlay a[data-toggle="class toogle"]:hover, .grid-list .overlay a[data-toggle="class toogle"]:focus{
    color: #FFCC80;
    border: 2px solid #FFCC80;
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}
.grid-list .poster-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #d5d5d5;
    text-align: left;
    padding: 5px;
}
.grid-list .poster-info h5, .grid-list .poster-info h6{
    margin: 0;
}
.grid-list .poster-info a.movie-info,.grid-list .poster-info a.audio-info{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    right: 10px;
    bottom: 10px;
    color: #d5d5d5;
}
.grid-list .poster-info a.audio-info{
    color: #FFCC80;
    font-size: 18px;
}
.grid-no-animation{
    list-style: none;
    text-align: center;
    padding: 0 1px;
    margin-bottom: 30px;
}
.grid-no-animation li{
    padding: 5px;
}
.grid-no-animation li img:hover{
    opacity: .6;
}
.grid-no-animation li h5{
    text-align: left;
    color: #999999;
}
.active > .text,.text-active{
    display: none!important;
}
.active > .text-active{
    display: inline-block!important;
}
.track-play a{
    font-size: 22px;
    color: #FFCC80;
}
.tracks h4{
    font-size: 14px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.tracks h6{
    margin: 0;
    padding-top: 4px;
    color: #9d9d9d;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.table>thead>tr>th{
    border-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    color: #d5d5d5;
    border-top: 1px solid #222;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #121212;
}
.table-hover>tbody>tr:hover {
    background-color: #1b1b1b;
}
.tracks-container{

}
.home .tracks-container{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
}
.tracks-container .scroll-info{
    position: absolute;
    bottom: 0;
    width: 300px;
    margin: 0 auto -5px;
    color: #FFCC80;
    padding: 0 15px;
    text-align: center;
    left: 0;
    right: 0;
}
.scroll-info p{
    margin-bottom: 0;
}
.tracks.table-hover>tbody>tr:hover{
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}
.table-striped>tbody>tr{
    border: 0;
}
.btn-warning{
    background-color: #F9A825!important;
}
.btn-default{
    background-color: rgba(51, 51, 51, 0.65) !important;
    color: #ffffff!important;
    font-size: 12px;
}
.load-more{
    font-weight: 400;
}
.load-more.animated{
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 5%;
    font-weight: 100;
    color: #999999;
    font-size: 18px;
    -animation: spin 1.8s infinite linear;
    -webkit-animation: spin2 1.8s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.pad30{
    padding: 30px;
}
.mt30{
    margin-top: 30px;
}
.mb5p{
    margin-bottom: 5%;
}
.mb10p{
    margin-bottom: 10%;
}
.grid-video{
    list-style: none;
    padding: 0 1px;
    /*display: table;*/
    width: 100%;
}
.grid-video.mb5p{
    display: table;
}
.grid-video .video-js{
    width: 100%;
}
.grid-video li h4, .grid-video li h5{
    margin: 0;
}
.grid-video li h4{
    color: #d5d5d5;
    margin-top: 10px;
    font-size: 15px;
}
.grid-video li h5{
    color: #9d9d9d;
    font-size: 12px;
    margin-top: 5px;
}
.video-js .vjs-big-play-button{
    height: 80px;
    width: 80px;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 0.06666em solid #d5d5d5;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
    color: #FFCC80;
    opacity: 1;
    border: 2px solid #FFCC80;
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
    background-color: rgba(0, 0, 0, 0.65);
}
.video-js:hover .vjs-big-play-button:before, .video-js:focus .vjs-big-play-button:before{
    color: #FFCC80;
}
.vjs-poster{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.video-js:hover .vjs-poster{
    background-color: rgba(0, 0, 0, 0.6);
}
.vjs-big-play-button:before{
    padding: 15px 18px;
    content: '\e6ad' !important;
    font-family: 'themify';
}
.vjs-icon-play:before, .video-js .vjs-big-play-button:before{
    font-size: 1.5em;
    color: #d5d5d5;
}
.video-js .vjs-control-bar{
    background-color: #121212;
}
footer{
    background: #121212;
    padding: 30px 0 0;
}
.news-sub{
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 12%;
}
.news-sub h3{
    color: #9d9d9d;
    margin-bottom: 40px;
}
.news-sub .form-group {
    margin-top: 5px;
}
.footer-sub{
    background: #000;
    padding: 40px 0;
}
.footer-sub .widget{
    color: #999999;
    margin-bottom: 30px;
}
.footer-sub .widget ul{
    padding-left: 0;
    list-style: none;
}
.footer-sub .widget ul > li > a:hover, .footer-sub .widget ul > li > a:focus{
    text-decoration: none!important;
}
.footer-sub .widget ul.links >li {
    width: 49%;
    display: inline-block;
}
.footer-sub .widget ul.links > li > a{
    color: #FFCC80;
}
.footer-sub .widget ul.links > li > a:hover,.footer-sub .widget ul > li > a:focus{
    color: #F9A825;
}
.footer-sub .slinks li{
    display: inline-block;
}
.footer-sub .slinks li > a{
    font-size: 22px;
    padding-right: 10px;
    color: #d5d5d5;
}
.footer-sub .slinks li > a:hover{
    opacity: .8;
}
/*.footer-sub .slinks li > a.fb{*/
    /*color: #1E88E5;*/
/*}*/
/*.footer-sub .slinks li > a.tw{*/
    /*color: #4FC3F7;*/
/*}*/
/*.footer-sub .slinks li > a.in{*/
    /*color: #D7CCC8;*/
/*}*/
/*.footer-sub .slinks li > a.go{*/
    /*color: #e57373;*/
/*}*/
.footer-main{
    background: #F9A825;
    padding: 15px 0;
    text-align: center;
}
.footer-main .copyright{
    margin-bottom: 0;
}
#back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 9998;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    filter: alpha(opacity=70);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url(../img/to_top_arrow.png) no-repeat center center #727272;
}
#back-to-top.show {
    opacity: 0.7;
    display: block!important;
}
.webui-popover.pop {
    border: 0;
    padding: 0;
}
.webui-popover-inverse{
    background-color: #1c1c1c;
}
.webui-popover-inverse.top>.arrow, .webui-popover-inverse.top-left>.arrow, .webui-popover-inverse.top-right>.arrow, .webui-popover-inverse.top>.arrow:after, .webui-popover-inverse.top-left>.arrow:after, .webui-popover-inverse.top-right>.arrow:after{
    border-top-color: #1c1c1c;
}
.webui-popover-inverse.bottom>.arrow, .webui-popover-inverse.bottom-left>.arrow, .webui-popover-inverse.bottom-right>.arrow, .webui-popover-inverse.bottom>.arrow:after, .webui-popover-inverse.bottom-left>.arrow:after, .webui-popover-inverse.bottom-right>.arrow:after{
    border-bottom-color: #1c1c1c;
}
.webui-popover-inverse.right>.arrow, .webui-popover-inverse.right-top>.arrow, .webui-popover-inverse.right-bottom>.arrow, .webui-popover-inverse.right>.arrow:after, .webui-popover-inverse.right-top>.arrow:after, .webui-popover-inverse.right-bottom>.arrow:after{
    border-right-color: #1c1c1c;
}
.webui-popover-inverse.left>.arrow, .webui-popover-inverse.left-top>.arrow, .webui-popover-inverse.left-bottom>.arrow, .webui-popover-inverse.left>.arrow:after, .webui-popover-inverse.left-top>.arrow:after, .webui-popover-inverse.left-bottom>.arrow:after{
    border-left-color: #1c1c1c;
}
.webui-popover .webui-popover-content{
    padding: 10px 20px;
}
.movie-pop h4{
    margin-bottom: 0;
}
.movie-pop h6{
    margin-top: 0;
}
.movie-pop h4 .running-time{
    float: right;
    font-size: 14px;
}
.movie-pop-footer h5 {
    max-width: 360px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.movie-pop-footer h5 a{
    font-size: 12px;
}
.movie-pop-footer .btn {
    text-transform: capitalize;
    font-weight: 600;
    width: 48%;
}

.movie-pop-footer .btn:hover{
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}
.tunebox-album-tracks .track-play{
    display: inline-block;
}
.tunebox-album-tracks .song-option a{
    color: #FFCC80;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}
.tunebox-album-tracks .track-play a{
    font-size: 18px;
    top: 3px;
    position: relative;
}
.musicbox .panel-heading{
    border-radius: 0;
}
.musicbox .panel.panel-default>.panel-heading, .panel>.panel-heading {
     background-color: #333333;
     color: #F9A825;
}
.musicbox .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #121212;
    background: #121212;
    color: #999;
    padding: 0;
}
.musicbox .grid-video li{
    display: inline-block;
    width: 25%;
    float: left;
    padding: 5px;
}
.eyebox .grid-video li{
    display: inline-block;
    width: 25%;
    float: left;
    padding: 5px;
}
.movie-player .grid-list li{
    padding: 5px;
}
.movie-player .movie-details{
    color: #999999;
}
.movie-player .synopsis{
    font-style: italic;
}
.movie-player .movie-details h2{
    margin-top: 0
}
.modal-content{
    background: #333333;
}
.modal-header{
    display: table;
    width: 100%;
    font-size: 18px;
    color: #d5d5d5;
}
.modal-content .modal-body legend{
    color: #d5d5d5;
}
.modal-backdrop {
    background: rgba(0,0,0,.8);
}
.modal-backdrop.in {
    opacity: .8;
}
.modal-header .close{
    color: #ffffff;
}
/** Center Bootstrap Modal ***/
.modal {
    text-align: center;
    padding: 0!important;
}
.modal-body{
    padding-bottom: 24px!important;
    padding-top: 0!important;
    height: 100%;
    width: 100%;
    display: table;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
/*** End Center ***/
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.blogbox .featured-posts{
    position: relative;
    margin: 0 13px 60px 13px;
}
.blogbox .featured-posts .comment-count{
    position: relative;
    top: 0;
    background-color: #848484;
    float: right;
    font-size: 11px;
    text-align: center;
    -webkit-border-radius: 2px 2px 0 2px;
    -moz-border-radius: 2px 2px 0 2px;
    border-radius: 2px 2px 0 2px;
}
.blogbox .featured-posts .comment-count a{
    color: #fff;
    padding: 2px 4px 3px;
    display: inline-block;
    min-width: 22px;
    height: 20px;
    line-height: 1.5;
}
.blogbox .featured-posts .comment-count a:after{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: #5b5b5b transparent transparent transparent;
}
.blogbox .grid-container-lg .featured-post-title{
    color: #ffffff;
    position: relative;
    top: 66%;
}
.blogbox .grid-container-sm .caption{
    padding: 10px;
}
.blogbox .grid-container-sm .featured-post-title{
    color: #ffffff;
    position: relative;
    top: 45%;
}
.blogbox .grid-container-sm .post-list .entry-title{
    line-height: 1;
}
.blogbox .featured-post-title .entry-title a{
    color: #ffffff;
}
.blogbox .featured-post-title .entry-author a{
    color: #ffffff;
}
.blogbox .grid-container-sm .featured-post-title .entry-title a{
    font-size: 13px;
    font-weight: 400;
}
.featured-posts .col-lg-1,
.featured-posts .col-lg-10,
.featured-posts .col-lg-11,
.featured-posts .col-lg-12,
.featured-posts .col-lg-2,
.featured-posts .col-lg-3,
.featured-posts .col-lg-4,
.featured-posts .col-lg-5,
.featured-posts .col-lg-6,
.featured-posts .col-lg-7,
.featured-posts .col-lg-8,
.featured-posts .col-lg-9,
.featured-posts .col-md-1,
.featured-posts .col-md-10,
.featured-posts .col-md-11,
.featured-posts .col-md-12,
.featured-posts .col-md-2,
.featured-posts .col-md-3,
.featured-posts .col-md-4,
.featured-posts .col-md-5,
.featured-posts .col-md-6,
.featured-posts .col-md-7,
.featured-posts .col-md-8,
.featured-posts .col-md-9,
.featured-posts .col-sm-1,
.featured-posts .col-sm-10,
.featured-posts .col-sm-11,
.featured-posts .col-sm-12,
.featured-posts .col-sm-2,
.featured-posts .col-sm-3,
.featured-posts .col-sm-4,
.featured-posts .col-sm-5,
.featured-posts .col-sm-6,
.featured-posts .col-sm-7,
.featured-posts .col-sm-8,
.featured-posts .col-sm-9,
.featured-posts .col-xs-1,
.featured-posts .col-xs-10,
.featured-posts .col-xs-11,
.featured-posts .col-xs-12,
.featured-posts .col-xs-2,
.featured-posts .col-xs-3,
.featured-posts .col-xs-4,
.featured-posts .col-xs-5,
.featured-posts .col-xs-6,
.featured-posts .col-xs-7,
.featured-posts .col-xs-8,
.featured-posts .col-xs-9{
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.featured-posts img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.blogbox .grid{
    margin-bottom: 3px;
    overflow: hidden;
    position: relative;
}
.blogbox .grid-container-sm:hover .grid img,
.blogbox .grid-container-lg:hover .grid img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.blogbox .grid-container-sm,
.blogbox .grid-container-lg{
    overflow: hidden;
    position: relative;
}
.blogbox .grid-container-sm .caption{
    width: 100%;
    height: 100%;
}
.blogbox .grid-container-lg .caption{
    width: 100%;
    height: 100%;
}
.blogbox .caption{
    background: linear-gradient( 180deg, transparent 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    z-index: 9;
    padding: 20px;
}
.blogbox .featured-post-title h5 {
    font-size: 18px;
}
.blogbox .post-list {
    bottom: 15px;
    position: relative;
}
.recent-posts h3{
    color: #F9A825;
}
.recent-posts ul{
    padding-left: 0;
    list-style: none;
    display: table;
    width: 100%;
    height: 100%;
    margin: 30px 0;
}
.recent-posts ul li,
.article-single .well{
    margin-bottom: 30px;
}
.article-single .well{
    padding-bottom: 30px!important;
}
.recent-posts ul li > div,
.article-single .well{
    color: #f2f2f2;
    font-size: 15px;
}
.recent-posts ul li > div h4,
.article-single .well h4{
    margin: 30px 0 5px 0;
    text-transform: capitalize;
}
.recent-posts ul li > div h4 > a,
.article-single .well h4 > a{
    color: #FFCC80;
    font-size: 18px;
}
.recent-posts .post-excerpt,
.article-single .post-excerpt{
    margin-top: 15px;
}
.widget-container{
    margin-bottom: 30px;
}
.widget-title h3{
    color: #d5d5d5;
}
.blogbox-categories{
    list-style: none;
    background: #1c1c1c;
    padding: 30px 15px;
}
.blogbox-categories li{
    padding-bottom: 10px;
}
.blogbox-categories li > a {
    font-size: 18px;
}
.fb-login {
    padding: 20px 0;
}
.fb-login .btn {
    background-color: #4c66a4!important;
    padding: 10px 20px;
}
.fb-login span.icon {
    float: left;
}
.fb-login span.text {
    text-align: center;
}
.tabs-left > .nav-tabs > li {
    float: none;
    background: #1c1c1c;
    padding: 5px;
}
.tabs-left > .nav-tabs > li:hover,
.tabs-left > .nav-tabs > li:focus,
.tabs-left > .nav-tabs > li.active{
    background: #000;
}
.tabs-left > .nav-tabs > li > a{
    min-width: 74px;
    margin-right: 0;
    color: #FFCC80!important;
    margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
    margin-right: 0;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    background: #1c1c1c;
    width: 19%;
    vertical-align: top;
    display: inline-block;
}
.tabs-left .tab-content {
    display: inline-block;
    width: 80%;
}
.tabs-left .tab-content .well{
    padding: 30px!important;
}
.tabs-left .tab-content h3{
    color: #FFCC80!important;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: transparent;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: transparent;
}
.dashboard .page-title{
    color: #F9A825;
}
.dashboard .grid-list .overlay a[data-toggle="class toogle"]{
    margin: 1em auto;
}
.radio-content{
    background: #121212;
    padding: 30px;
}
/*.radio-content #equalizer {*/
    /*margin-top: 10%;*/
/*}*/
/*.radio-content #equalizer input{*/
    /*margin-right: 4%;*/
/*}*/
.radio-channels{
    background: #121212;
    padding: 30px 15px;
    max-height: 631px;
    margin-bottom: 0;
    overflow-y: scroll;
}
.radio-channels li a:hover, .radio-channels li.active a,.radio-channels li a:focus{
    background: #333333;
}
.date-time .movie-details {
    color: #999999;
}
.date-time .grid-list.list-mode li{
    width: 49.8%;
}
.date-time .movie-details h2{
    margin-top: 0;
}
.date-time .grid-list li {
    padding: 5px;
}
/***************************
*       Typed Animation    *
***************************/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}